{% load static %}
<!DOCTYPE html>
<html id="theElement" lang="pt-br"
      style="-moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;"
 unselectable="on"
 onselectstart="return false;"
 onmousedown="return false;">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ISA</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

     <div class="container4" hidden id="speaking">
        <p id="action"></p>
    </div>

    <p id="art" class="double" hidden></p>

    <table border="0" id="table" hidden>
        <tbody>
        </tbody>
    </table>


    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>